<!DOCTYPE html>
<html>
    <head>
        <title>Mirror</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
        <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/scripts.js"></script>
        <script type="text/javascript" src="/javascripts/sockets.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="date-info">
            <div class="timer"></div>
            <div class="date"></div>
        </div>
        
        <div class="weather-info">
            <div class="last-update"></div>
        </div>
    </body>
</html>
